In [1]:
import pandas as pd

In [75]:
file_url="weight_log.csv"

data=pd.read_csv(file_url)

data

   회차   이름         측정일   몸무게  단위   담당   지점
0   1  서현경  2020-03-01  76.4  kg  박현경  관악구
1   2  서현경  2020-03-02  75.7  kg  김현경  관악구
2   3  서현경  2020-03-03  76.0  kg  최현경  여의도
3   4  서현경  2020-03-04   NaN  kg  최현경  여의도
4   5  서현경  2020-03-05  76.2  kg  김현경  강남구
5   6  서현경  2020-03-06  75.7  kg  최현경  서초구
6   7  서현경  2020-03-07   NaN  kg  최현경  서초구
7   8  서현경  2020-03-08   NaN  kg  김현경  서초구
8   9  서현경  2020-03-09  75.0  kg  김현경  서초구

In [9]:
t_col=["회차", "몸무게"]
data[["회차", "몸무게"]]
data[t_col].head(3)
#list안에는 하나만 들어갈 수 있기 때문에 [],[]형식이 아니라 [["",""]] 형식으로

   회차   몸무게
0   1  76.4
1   2  75.7
2   3  76.0

In [16]:
data

   회차   이름         측정일   몸무게  단위   담당   지점
0   1  서현경  2020-03-01  76.4  kg  박현경  관악구
1   2  서현경  2020-03-02  75.7  kg  김현경  관악구
2   3  서현경  2020-03-03  76.0  kg  최현경  여의도
3   4  서현경  2020-03-04   NaN  kg  최현경  여의도
4   5  서현경  2020-03-05  76.2  kg  김현경  강남구
5   6  서현경  2020-03-06  75.7  kg  최현경  서초구
6   7  서현경  2020-03-07   NaN  kg  최현경  서초구
7   8  서현경  2020-03-08   NaN  kg  김현경  서초구
8   9  서현경  2020-03-09  75.0  kg  김현경  서초구

In [18]:
data["몸무게"].head(2).mean()

76.05000000000001

In [19]:
data.describe()

#숫자인 값이 나옴. 숫자가 치우쳐졌는지, 기본적인 정보 확인 가능

             회차        몸무게
count  9.000000   6.000000
mean   5.000000  75.833333
std    2.738613   0.492612
min    1.000000  75.000000
25%    3.000000  75.700000
50%    5.000000  75.850000
75%    7.000000  76.150000
max    9.000000  76.400000

In [22]:
print(data["이름"].unique())
print(data["회차"].unique())

print(data["지점"].nunique())
#unique 앞에 n을 붙이면 개수가 나타난다

['서현경']
[1 2 3 4 5 6 7 8 9]
4

In [23]:
data["지점"].value_counts()
#중복된 값을 알 수 있음

서초구    4
관악구    2
여의도    2
강남구    1
Name: 지점, dtype: int64

In [24]:
data["지점"]=data["지점"].replace("강남구","강남")

data

   회차   이름         측정일   몸무게  단위   담당   지점
0   1  서현경  2020-03-01  76.4  kg  박현경  관악구
1   2  서현경  2020-03-02  75.7  kg  김현경  관악구
2   3  서현경  2020-03-03  76.0  kg  최현경  여의도
3   4  서현경  2020-03-04   NaN  kg  최현경  여의도
4   5  서현경  2020-03-05  76.2  kg  김현경   강남
5   6  서현경  2020-03-06  75.7  kg  최현경  서초구
6   7  서현경  2020-03-07   NaN  kg  최현경  서초구
7   8  서현경  2020-03-08   NaN  kg  김현경  서초구
8   9  서현경  2020-03-09  75.0  kg  김현경  서초구

In [25]:
data["지점"]=data["지점"].replace("강남","강남구")

data

   회차   이름         측정일   몸무게  단위   담당   지점
0   1  서현경  2020-03-01  76.4  kg  박현경  관악구
1   2  서현경  2020-03-02  75.7  kg  김현경  관악구
2   3  서현경  2020-03-03  76.0  kg  최현경  여의도
3   4  서현경  2020-03-04   NaN  kg  최현경  여의도
4   5  서현경  2020-03-05  76.2  kg  김현경  강남구
5   6  서현경  2020-03-06  75.7  kg  최현경  서초구
6   7  서현경  2020-03-07   NaN  kg  최현경  서초구
7   8  서현경  2020-03-08   NaN  kg  김현경  서초구
8   9  서현경  2020-03-09  75.0  kg  김현경  서초구


NaN 와 같잉 누락된 정보가 있다면 (잘못된 입력을 받았음)

1. 데이터 평균내기
2. 바로 전 데이터를 쓰기
3. 데이터를 보고 describe를 통해서 중앙값을 사용함.

In [27]:
data["몸무게"].fillna(data["몸무게"].mean())


#fill nan : NAN값에 ~를 넣어라 
#근데 이거는 조회용  
#위의 경우는 몸무게의 평균을 NaN에 넣음

0    76.400000
1    75.700000
2    76.000000
3    75.833333
4    76.200000
5    75.700000
6    75.833333
7    75.833333
8    75.000000
Name: 몸무게, dtype: float64

In [33]:
data["몸무게 처리"]=data["몸무게"].fillna(data["몸무게"].mean())

data

#얍이라는 새로운 컬럼을 만들었음

   회차   이름         측정일        몸무게  단위   담당   지점          얍     몸무게 처리
0   1  서현경  2020-03-01  76.400000  kg  박현경  관악구  76.400000  76.400000
1   2  서현경  2020-03-02  75.700000  kg  김현경  관악구  75.700000  75.700000
2   3  서현경  2020-03-03  76.000000  kg  최현경  여의도  76.000000  76.000000
3   4  서현경  2020-03-04  75.833333  kg  최현경  여의도  75.833333  75.833333
4   5  서현경  2020-03-05  76.200000  kg  김현경  강남구  76.200000  76.200000
5   6  서현경  2020-03-06  75.700000  kg  최현경  서초구  75.700000  75.700000
6   7  서현경  2020-03-07  75.833333  kg  최현경  서초구  75.833333  75.833333
7   8  서현경  2020-03-08  75.833333  kg  김현경  서초구  75.833333  75.833333
8   9  서현경  2020-03-09  75.000000  kg  김현경  서초구  75.000000  75.000000

In [34]:
data["몸무게"]

0    76.400000
1    75.700000
2    76.000000
3    75.833333
4    76.200000
5    75.700000
6    75.833333
7    75.833333
8    75.000000
Name: 몸무게, dtype: float64

하지만 실제 NaN값이 바뀌지 않음!!!
-> 그렇게 하기 위해서 다시 data["몸무게"]에 결과를 넣어야 함.

In [32]:
data["몸무게"]=data["몸무게"].fillna(data["몸무게"].mean())

data

   회차   이름         측정일        몸무게  단위   담당   지점          얍
0   1  서현경  2020-03-01  76.400000  kg  박현경  관악구  76.400000
1   2  서현경  2020-03-02  75.700000  kg  김현경  관악구  75.700000
2   3  서현경  2020-03-03  76.000000  kg  최현경  여의도  76.000000
3   4  서현경  2020-03-04  75.833333  kg  최현경  여의도  75.833333
4   5  서현경  2020-03-05  76.200000  kg  김현경  강남구  76.200000
5   6  서현경  2020-03-06  75.700000  kg  최현경  서초구  75.700000
6   7  서현경  2020-03-07  75.833333  kg  최현경  서초구  75.833333
7   8  서현경  2020-03-08  75.833333  kg  김현경  서초구  75.833333
8   9  서현경  2020-03-09  75.000000  kg  김현경  서초구  75.000000

없는 컬럼에 값을 넣으면 컬럼이 생기면서 값들이 업데이트 된다.

In [35]:
data["측정일"]

0    2020-03-01
1    2020-03-02
2    2020-03-03
3    2020-03-04
4    2020-03-05
5    2020-03-06
6    2020-03-07
7    2020-03-08
8    2020-03-09
Name: 측정일, dtype: object

data type = object (글자) 
-> 날짜 모양인 문자임

pandas.to_datetime() : object를 넘기면 날짜형으로 형변환을 시켜줌

In [36]:
pd.to_datetime(data["측정일"])

0   2020-03-01
1   2020-03-02
2   2020-03-03
3   2020-03-04
4   2020-03-05
5   2020-03-06
6   2020-03-07
7   2020-03-08
8   2020-03-09
Name: 측정일, dtype: datetime64[ns]

In [38]:
data["측정일"]=pd.to_datetime(data["측정일"])

data["측정일"]

0   2020-03-01
1   2020-03-02
2   2020-03-03
3   2020-03-04
4   2020-03-05
5   2020-03-06
6   2020-03-07
7   2020-03-08
8   2020-03-09
Name: 측정일, dtype: datetime64[ns]

In [39]:
data["측정일"].dt.month

0    3
1    3
2    3
3    3
4    3
5    3
6    3
7    3
8    3
Name: 측정일, dtype: int64

In [41]:
data["측정일"].dt.day

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
Name: 측정일, dtype: int64

In [43]:
data["측정일"].dt.dayofweek

#0이 월요일 6이 일요일

0    6
1    0
2    1
3    2
4    3
5    4
6    5
7    6
8    0
Name: 측정일, dtype: int64

# 행

In [44]:
data.index

RangeIndex(start=0, stop=9, step=1)

In [45]:
data.values

array([[1, '서현경', Timestamp('2020-03-01 00:00:00'), 76.4, 'kg', '박현경',
        '관악구', 76.4, 76.4],
       [2, '서현경', Timestamp('2020-03-02 00:00:00'), 75.7, 'kg', '김현경',
        '관악구', 75.7, 75.7],
       [3, '서현경', Timestamp('2020-03-03 00:00:00'), 76.0, 'kg', '최현경',
        '여의도', 76.0, 76.0],
       [4, '서현경', Timestamp('2020-03-04 00:00:00'), 75.83333333333333,
        'kg', '최현경', '여의도', 75.83333333333333, 75.83333333333333],
       [5, '서현경', Timestamp('2020-03-05 00:00:00'), 76.2, 'kg', '김현경',
        '강남구', 76.2, 76.2],
       [6, '서현경', Timestamp('2020-03-06 00:00:00'), 75.7, 'kg', '최현경',
        '서초구', 75.7, 75.7],
       [7, '서현경', Timestamp('2020-03-07 00:00:00'), 75.83333333333333,
        'kg', '최현경', '서초구', 75.83333333333333, 75.83333333333333],
       [8, '서현경', Timestamp('2020-03-08 00:00:00'), 75.83333333333333,
        'kg', '김현경', '서초구', 75.83333333333333, 75.83333333333333],
       [9, '서현경', Timestamp('2020-03-09 00:00:00'), 75.0, 'kg', '김현경',
        '서초구', 75.0, 75.0]], dtype=object)

In [49]:
data.loc[0,]

#가로 세로를 넣을 수 있다.

회차                          1
이름                        서현경
측정일       2020-03-01 00:00:00
몸무게                      76.4
단위                         kg
담당                        박현경
지점                        관악구
얍                        76.4
몸무게 처리                   76.4
Name: 0, dtype: object

In [51]:
data.loc[0:]

   회차   이름        측정일        몸무게  단위   담당   지점          얍     몸무게 처리
0   1  서현경 2020-03-01  76.400000  kg  박현경  관악구  76.400000  76.400000
1   2  서현경 2020-03-02  75.700000  kg  김현경  관악구  75.700000  75.700000
2   3  서현경 2020-03-03  76.000000  kg  최현경  여의도  76.000000  76.000000
3   4  서현경 2020-03-04  75.833333  kg  최현경  여의도  75.833333  75.833333
4   5  서현경 2020-03-05  76.200000  kg  김현경  강남구  76.200000  76.200000
5   6  서현경 2020-03-06  75.700000  kg  최현경  서초구  75.700000  75.700000
6   7  서현경 2020-03-07  75.833333  kg  최현경  서초구  75.833333  75.833333
7   8  서현경 2020-03-08  75.833333  kg  김현경  서초구  75.833333  75.833333
8   9  서현경 2020-03-09  75.000000  kg  김현경  서초구  75.000000  75.000000

In [54]:
data.loc[1,"측정일"]

Timestamp('2020-03-02 00:00:00')

첫번째 인자로 index값을 넣고 두번째 인자로는 column의 값을 넣는다.
index값만 넣기 O
column값만 넣기 X

우선적으로 index값이 들어가야 함

# 색인

In [57]:
# 만족하는 조건을 col안에 넣기

data[data["몸무게"]>76]

# true에 해당하는 값만 나온다.

   회차   이름        측정일   몸무게  단위   담당   지점     얍  몸무게 처리
0   1  서현경 2020-03-01  76.4  kg  박현경  관악구  76.4    76.4
4   5  서현경 2020-03-05  76.2  kg  김현경  강남구  76.2    76.2

In [59]:
data["몸무게"]>76

0     True
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
Name: 몸무게, dtype: bool

In [63]:
(data["몸무게"] >76) & (data["지점"]=="관악구")

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

pandas에서는 and -> & 이고
             or -> | 이다.

In [64]:
data[(data["몸무게"] >76) & (data["지점"]=="관악구")]

data.loc[data[(data["몸무게"] >76) & (data["지점"]=="관악구")]]

#위의 것과 똑같음.

   회차   이름        측정일   몸무게  단위   담당   지점     얍  몸무게 처리
0   1  서현경 2020-03-01  76.4  kg  박현경  관악구  76.4    76.4

In [84]:
# loc의 index 자리로 조건이 들어갈 수 있음 

data.loc[data["지점"].str.contains("의"), ["회차","이름","지점"]]

   회차   이름   지점
2   3  서현경  여의도
3   4  서현경  여의도

In [85]:
data.loc[data["지점"].str.contains("의"), "성명"]=1

#없는 컬럼을 column자리에 넣고 값을 할당하면 새로운 컬럼이 생기고 해당 조건을 만족한 
#row에 값이 생기고 해당 값이 할당된다.


data

   회차   이름         측정일   몸무게  단위   담당   지점   성명
0   1  서현경  2020-03-01  76.4  kg  박현경  관악구  NaN
1   2  서현경  2020-03-02  75.7  kg  김현경  관악구  NaN
2   3  서현경  2020-03-03  76.0  kg  최현경  여의도  1.0
3   4  서현경  2020-03-04   NaN  kg  최현경  여의도  1.0
4   5  서현경  2020-03-05  76.2  kg  김현경  강남구  NaN
5   6  서현경  2020-03-06  75.7  kg  최현경  서초구  NaN
6   7  서현경  2020-03-07   NaN  kg  최현경  서초구  NaN
7   8  서현경  2020-03-08   NaN  kg  김현경  서초구  NaN
8   9  서현경  2020-03-09  75.0  kg  김현경  서초구  NaN

loc를 할 때 배열형태로 입력해야 2차원 배열의 형태로 리턴된다.

In [65]:
data["담당"]=="박현경"

#한 사람을 특정할 경우

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
Name: 담당, dtype: bool

In [68]:
#여러 사람(경우)일 경우 -> isin 사용

# 인자는 list로 묶어줘야 함 

data["담당"].isin(["박현경"])

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
Name: 담당, dtype: bool

In [69]:
data["담당"].isin(["박현경","김현경"])

0     True
1     True
2    False
3    False
4     True
5    False
6    False
7     True
8     True
Name: 담당, dtype: bool

In [73]:
# 전체 문자가 아닌 문자 몇개만 아는 경우 -> str.contains("문자열")
print(data["지점"].str.contains("의"))

data["지점"]

0    False
1    False
2     True
3     True
4    False
5    False
6    False
7    False
8    False
Name: 지점, dtype: bool

0    관악구
1    관악구
2    여의도
3    여의도
4    강남구
5    서초구
6    서초구
7    서초구
8    서초구
Name: 지점, dtype: object

In [79]:
data["몸무게"].isnull()

#null인 NaN값을 bool로 알려줌
# isnull과 isna는 쓰임이 같음 
print(data[data["몸무게"].isnull()])

   회차   이름         측정일  몸무게  단위   담당   지점
3   4  서현경  2020-03-04  NaN  kg  최현경  여의도
6   7  서현경  2020-03-07  NaN  kg  최현경  서초구
7   8  서현경  2020-03-08  NaN  kg  김현경  서초구

In [80]:
data.info()

# 몸무게만 혼자만 6개이니까 null인 것이 개수를 알 수 있음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회차      9 non-null      int64
 1   이름      9 non-null      object
 2   측정일     9 non-null      object
 3   몸무게     6 non-null      float64
 4   단위      9 non-null      object
 5   담당      9 non-null      object
 6   지점      9 non-null      object
dtypes: float64(1), int64(1), object(5)
memory usage: 632.0+ bytes

In [81]:
data.isna()

      회차     이름    측정일    몸무게     단위     담당     지점
0  False  False  False  False  False  False  False
1  False  False  False  False  False  False  False
2  False  False  False  False  False  False  False
3  False  False  False   True  False  False  False
4  False  False  False  False  False  False  False
5  False  False  False  False  False  False  False
6  False  False  False   True  False  False  False
7  False  False  False   True  False  False  False
8  False  False  False  False  False  False  False

In [82]:
#1인 애들을 더해서 
# data를 읽은 후 NaN값을 알기 위해서 사용된다. 
data.isna().sum()

회차     0
이름     0
측정일    0
몸무게    3
단위     0
담당     0
지점     0
dtype: int64

In [83]:
data.notnull()

     회차    이름   측정일    몸무게    단위    담당    지점
0  True  True  True   True  True  True  True
1  True  True  True   True  True  True  True
2  True  True  True   True  True  True  True
3  True  True  True  False  True  True  True
4  True  True  True   True  True  True  True
5  True  True  True   True  True  True  True
6  True  True  True  False  True  True  True
7  True  True  True  False  True  True  True
8  True  True  True   True  True  True  True

NaN은 문자열이 아님. 다른 표현방식이기 때문에 =="NaN"을 사용하면 안됨

# Pivot table

In [89]:
pd.pivot_table(data, index="지점", values="몸무게" , aggfunc='mean')
#내가 사용하는 data, index= 칼럼명, 몸무게를 더해줄까 평균내줄까 뭐해줄까

       몸무게
지점
강남구  76.20
관악구  76.05
서초구  75.35
여의도  76.00

In [90]:
pd.pivot_table(data, index="지점", values="몸무게" , aggfunc='count')

     몸무게
지점
강남구    1
관악구    2
서초구    2
여의도    1

In [91]:
pd.pivot_table(data, index="지점", values="몸무게" , aggfunc='sum')

       몸무게
지점
강남구   76.2
관악구  152.1
서초구  150.7
여의도   76.0

In [93]:
loc_pivot=pd.pivot_table(data, index="지점", values="몸무게" , aggfunc=['mean','sum','count'])

# 동시에 다 보고싶을 때 여러개이면 인식을 못하기 때문에 리스트에 넣어서 하나로 만든다

In [94]:
loc_pivot

      mean    sum count
       몸무게    몸무게   몸무게
지점
강남구  76.20   76.2     1
관악구  76.05  152.1     2
서초구  75.35  150.7     2
여의도  76.00   76.0     1

In [95]:
loc_pivot.columns 

# tuple의 형식임

MultiIndex([( 'mean', '몸무게'),
            (  'sum', '몸무게'),
            ('count', '몸무게')],
           )

In [98]:
loc_pivot.columns = ['mean','sum','count']

# column명을 이렇게 그냥 바꿀 수 있음 

loc_pivot

      mean    sum  count
지점
강남구  76.20   76.2      1
관악구  76.05  152.1      2
서초구  75.35  150.7      2
여의도  76.00   76.0      1

In [100]:
loc_pivot["new_column"]=1

loc_pivot

      mean    sum  count  new_column
지점
강남구  76.20   76.2      1           1
관악구  76.05  152.1      2           1
서초구  75.35  150.7      2           1
여의도  76.00   76.0      1           1

In [101]:
loc_pivot["count"]

지점
강남구    1
관악구    2
서초구    2
여의도    1
Name: count, dtype: int64

In [102]:
loc_pivot["sum"]

지점
강남구     76.2
관악구    152.1
서초구    150.7
여의도     76.0
Name: sum, dtype: float64

In [104]:
loc_pivot["count*sum"]=loc_pivot["count"]*loc_pivot["sum"]

loc_pivot

      mean    sum  count  new_column  count*sum
지점
강남구  76.20   76.2      1           1       76.2
관악구  76.05  152.1      2           1      304.2
서초구  75.35  150.7      2           1      301.4
여의도  76.00   76.0      1           1       76.0